.kdview.pixlr-editor .application-page {
  padding: 0 !important;
}
.kdview .pixlr-drop-target {
  position: absolute;
  background: rgba(20, 20, 17, 0.74);
  opacity: 0.6;
}
.kdview .pixlr-resize-mask {
  position: absolute;
}
.pixlr-how-to,
.pixlr-cannot-save {
  padding: 20px;
}
.pixlr-how-to p {
  margin-bottom: 10px;
  width: 364px;
}
.pixlr-how-to .last {
  margin-top: 20px;
}
.pixlr-disable-notification {
  position: relative;
  top: -20px;
  float: right;
  right: 20px;
}